ul, li {
  list-style: none;
}

.vertical_chart_box {
  position: relative;
}
.vertical_chart_box .chart_box {
  position: relative;
  margin-bottom: 45px;
  padding-left: 20px;
  box-sizing: border-box;
  height: 200px;
  width: 45%;
  padding-left: 40px;
}
.vertical_chart_box .axis_y {
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 100%;
  font-size: 1px;
  color: black;
}
.vertical_chart_box .axis_y:before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 0;
  width: 1px;
  background: black;
}
.vertical_chart_box .axis_x {
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  border-bottom: 1px solid black;
}
.vertical_chart_box .axis_x .item {
  flex: 1;
  position: relative;
}
.vertical_chart_box .axis_x .item .text_box {
  position: absolute;
  bottom: -43px;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.vertical_chart_box .axis_x .item .text_box .day {
  display: block;
  font-size: 12px;
  line-height: 19px;
  color: black;
}
.vertical_chart_box .axis_x .graph {
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 25px;
  height: 100%;
  background: none;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.vertical_chart_box .axis_x .graph .time {
  display: block;
  position: relative;
  margin-bottom: -4px;
  padding-top: 4px;
  box-sizing: content-box;
  width: 100%;
  border-radius: 3px 3px 0 0;
}
.vertical_chart_box .axis_x .graph .time.data {
  background: navy;
  z-index: 3;
}
.vertical_chart_box .axis_x button.graph {
  border: 0;
}