* {
  box-sizing: border-box; /* 크기를 border까지로 적용하는 것.(기본값은 content-box) */
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 12px;
  border-bottom: 1px solid black;
}

.navbar__logo a {
  display: flex;
  width: 130px;
  padding-left: 15px;
  font-size: 30px;
  font-weight: 1000;
}

.navbar__menu {
  list-style: none; /* li 태그 앞에 있는 구분점 삭제 */
  display: flex; /* 수평 배치 */
  margin: 0;
  padding-left: 0;
  justify-content: flex-start;
  flex: 1;
  font-size: 20px;
}

.navbar__menu li {
  padding: 8px 15px; /* 버튼들이 서로 떨어지게 패딩 추가 */
}

.navbar__sign {
  list-style: none;
  display: flex;
  color: black;
  padding-left: 0;
  margin: 0;
}
.navbar__sign li {
  padding: 8px 12px;
  font-size: 20px;
}
#navbar__sign-up {
  border: 2px solid black;
  border-radius: 8px;
  padding: 2px 2px;
}
#nav-logined {
  list-style: none;
  margin: 0;
}

.navbar__toggleBtn {
  background-image: url(../image/Hamburger_icon_black.png);
  position: absolute;
  right: 15px;
}

@media screen and (max-width: 750px) { /* nav바가 일정 크기 작아지면 해당 블록 코드가 적용됨 */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__sign {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toggleBtn {
    display: block;
    width: 50px;
    height: 50px;
  }
  .navbar__menu.active, .navbar__sign.active {
    display: flex;
  }
}


#main-body {
  margin: 100px 100px;
  display: flex;
}
.main-body-ment {
  font-size: 60px;
  margin: 0 70px;

}
.main-body-left-highlight {
  font-size: 80px;
  font-weight: 530;
}
#main-body-vertical {
  border: none;
  border-left: 1px solid black; /* 원하는 색상과 굵기로 조정 */
  height: 700px; /* 원하는 높이로 조정 */
}
#main-body-rightment {
  margin: 35% 10px;
}

.login_signUp {
  position: relative;
}
.login_signUp-sign_div {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
}
#login_ment {
  font-size: 30px;
}

.login_margin {
  margin-top: 30px;
}
.input_text {
  width: 400px;
  height: 35px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 25px;
}
.login_highMargin {
  margin-top: 70px;
}
.btn_login {
  display: block;
  width: 100%;
  padding: 13px 0 13px;
  border-radius: 6px;
  border: solid 1px rgba(0,0,0,.15);
  background-color: #0c0c55;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 10px;
  color: #fff;
}
.btn_text {
  font-size: 25px;
}
#login-signIn_btn {
  border: none;
  color: blue;
  background: none;
  cursor: pointer;
}

#signUp_ment {
  font-size: 30px;
  font-weight: bold;
}
.btn_signUp {
  display: block;
  width: 120px;
  height: 46px;
  border-radius: 11px;
  border: solid 1px rgba(0,0,0,.15);
  background-color: #0c0c55;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 0;
  color: #fff;
  margin: 0 auto;
}

#status_body {
  text-align: center;
  margin: 0 300px;
}
.status_margin {
  margin-top: 120px;
}
#status_body-top {
  font-size: 60px;
  font-weight: bold;
}
#status_body-middle {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
}
#btn_statistic {
  display: flex;
  width: 240px;
  padding: 30px 50px;
  border-radius: 16px;
  border: solid 1px rgba(0,0,0,.15);
  background-color: #0c0c55;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 0;
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
  justify-content: center;
}

#statistic_ment {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  line-height: 0;
}
#statistic_graph {
  display: flex;
  justify-content: center;
  align-items: center;
}
#statistic_vertical {
  border: none;
  border-left: 1px solid black; /* 원하는 색상과 굵기로 조정 */
  height: 700px; /* 원하는 높이로 조정 */
}

/*introduce page*/
#introduce-body-building {
  position: relative;
}
#building-ment {
  font-size: 70px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#building-box {
  background: navy;
  color: white;
  position: absolute;
  width: 850px;
  z-index: 1;
  top: 70%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
}
#box-bottom {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
#box-bottom div {
  text-align: center;
}
#bottom-IoT {
  border: 3px solid greenyellow;
  border-radius: 35px;
  padding: 5px 25px;
  color: greenyellow;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
#bottom-AIoT {
  border: 3px solid orange;
  border-radius: 35px;
  padding: 5px 25px;
  color: orange;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#body-factory {
  margin-top: 100px;
}
#factory-top_ment {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
#factory-bottom {
  display: flex;
  justify-content: space-around;
}
#factory-bottom p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#body-carbon_statistic {
  margin-top: 100px;
}
#body-carbon_statistic p {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
#body-carbon_statistic img {
  display: block;
  margin: 0 auto;
}

#body-AI_AIoT {
  margin: 150px 150px 0;
}
#AI_AIoT-middle {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
#AI_AIoT-middle div {
  margin-top: 30px;
  text-align: center;
}
#AI_AIoT-middle span {
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px 25px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 0 rgba(0.5, 0.5, 0.5, 0.9);
}
#AI_AIoT-bottom {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}
#body-IoT_AIoT_space {
  margin: 120px 150px 150px;
}
#body-IoT_AIoT_space p {
  font-size: 60px;
  font-weight: bold;
  margin-top: 60px;
}
#body-IoT_AIoT_space span {
  font-size: 30px;
  font-weight: bold;
}

#body-effect_application {
  background-color: black;
  color: white;
  padding: 90px 80px 0;
}
.effect_application-title {
  font-size: 80px;
  font-weight: bold;
}
#body-effect_application p {
  font-size: 40px;
  font-weight: bold;
}
#effect_application-bottom {
  font-size: 30px;
  display: block;
  text-align: center;
}