{% extends "base.html" %}

{% load static %}

{% block title %}AIoT Space{% endblock %}

{% block content %}
    <div id="status_body">
        <div class="status_margin" id="status_body-top">AIoT Space</div>
        <div class="status_margin" id="status_body-middle">
            <div>
                현재온도: {{ 24 }}ºC
            </div>
            <div>
                감지된 물체: {{ X }}
            </div>
        </div>
        <div class="status_margin">
            <a id="btn_statistic" href="../../templates/statistic.html">
                <span class="btn_text">전력 소모량</span>
            </a>
        </div>
    </div>
{% endblock content%}