{% extends "base.html" %}

{% load static %}

{% block title %}Log-In{% endblock %}

{% block content %}
    <div class="login_signUp">
        <div class="login_signUp-sign_div">
            <div class="login_margin" id="login_ment">
                Sign in to SECS
            </div>

            <form action="#" method="POST" autocomplete="off">

                <div class="login_highMargin">
                    <input type="text" name="id" placeholder=" SECS ID" title="아이디" class="input_text" maxlength="41" value="">
                    <!--                <span role="button" class="btn_delete" id="id_clear" style="display: block;">-->
                    <!--                    <span class="icon_delete">-->
                    <!--                        <span class="blind">삭제</span>-->
                    <!--                    </span>-->
                    <!--                </span>-->
                </div>

                <div class="login_margin">
                    <input type="password" name="pw" placeholder=" Password" title="비밀번호" class="input_text" maxlength="16">
                    <!--                <span role="button" class="btn_delete" id="pw_clear" style="display: block;">-->
                    <!--                    <span class="icon_delete">-->
                    <!--                        <span class="blind">삭제</span>-->
                    <!--                    </span>-->
                    <!--                </span>-->
                </div>

                <div class="login_margin">
                    <button type="submit" class="btn_login">
                        <span class="btn_text">Sign in</span>
                    </button>
                </div>

            </form>

            <div class="login_highMargin">
                <p>SECS 계정이 없으신가요? <a id="login-signIn_btn" href="{% url 'accounts:signUp' %}">지금 만드세요.</a></p>
            </div>
        </div>
    </div>
{% endblock content %}