{% extends "base.html" %}

{% load static %}

{% block title %}Sign-Up{% endblock %}

{% block content %}
    <div class="login_signUp">
        <div class="login_signUp-sign_div">
            <div id="signUp_ment">
                SECS ID 생성
            </div>

            <form action="{% url 'accounts:signUp' %}" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="login_highMargin">
                    <input type="text" name="name" placeholder="Username" title="이름" class="input_text" maxlength="41" value="">
                </div>
                <div class="login_margin">
                    <input type="email" name="email" placeholder="Email" title="이메일" class="input_text" maxlength="41" value="">
                </div>
                새 SECS ID로 사용될 주소입니다.
                <div class="login_margin">
                    <input type="password" name="password" placeholder="Password" title="비밀번호" class="input_text" maxlength="50">
                </div>
                <div class="login_margin">
                    <input type="password" name="confirm_password" placeholder="Confirm Password" title="비밀번호 확인" class="input_text" maxlength="50">
                </div>

                <div class="login_margin">
                    <button type="submit" class="btn_signUp">
                        <span class="btn_text">Sign up</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}