{% extends "base.html" %}

{% load static %}

{% block title %}Password-Update{% endblock %}

{% block content %}
    <div class="login_signUp">
        <div class="login_signUp-sign_div">
            <div id="signUp_ment">
                비밀번호 변경
            </div>

            <form action="{% url 'main' %}" method="POST" autocomplete="off">
                {% csrf_token %}

                <div class="login_highMargin">
                    <input type="password" class="input_text" name="password" placeholder=" 현재 비밀번호" maxlength="50">
                </div>
                <div class="login_margin">
                    <input type="password" class="input_text" name="new_password" placeholder=" 새 비밀번호" maxlength="50">
                </div>
                <div class="login_margin">
                    <input type="password" class="input_text" name="confirm-password" placeholder=" 비밀번호 확인" maxlength="50">
                </div>

                <div class="login_margin">
                    <button type="submit" class="btn_signUp">
                        <span class="btn_text">Update</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}