{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}SECS{% endblock %}</title>
</head>

<body>
<nav class="navbar">

    <div class="navbar__logo">
        <a href="{% url 'main' %}">SECS</a>
    </div>

    <ul class="navbar__menu">
        <li><a href="{% url 'introduce' %}">Introduce</a></li>
        <li><a href="{% url 'iot_space:status' %}">IoT Space</a></li>
        <li><a href="{% url 'aiot_space:status' %}">AIoT Space</a></li>
    </ul>

    {% if 'token' in request.session %}
        <p>{{ request.session.name }}님, 환영합니다!</p>
        <br>
        <ul id="nav-logined">
            <li><a href="{% url 'accounts:passwordChange' %}">[비밀번호 변경]</a></li>
            <br>
            <li><a href="{% url 'accounts:logout' %}">[로그아웃]</a></li>
        </ul>
    {% else %}
        <ul class="navbar__sign">
            <li><a id="navbar__sign-in" href="{% url 'accounts:login' %}">Sign in</a></li>
            <li><a id="navbar__sign-up" href="{% url 'accounts:signUp' %}">Sign up</a></li>
        </ul>
    {% endif %}

    <a href="#" class="navbar__toggleBtn"></a>
</nav>
{% block content %}
{% endblock %}
</body>

<script src="{% static 'js/main.js' %}" defer></script>

</html>