{% extends "base.html" %}

{% load static %}

{% block title %}SECS{% endblock %}

{% block content %}
    <div id="main-body">
        <div class="main-body-ment">
            <p><span class="main-body-left-highlight">S</span>mart</p>
            <p><span class="main-body-left-highlight">E</span>nergy</p>
            <p><span class="main-body-left-highlight">C</span>onversation</p>
            <p><span class="main-body-left-highlight">S</span>ystem</p>
        </div>
        <div><hr id="main-body-vertical"></div>
        <div class="main-body-ment">
            <div id="main-body-rightment">
                <p>센서와 카메라로</p>
                <p>스마트하게 에너지 관리</p>
            </div>
        </div>
    </div>
{% endblock content %}