<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/main.js" defer></script>
    <title>Statistic</title>
</head>

<body>
    <nav class="navbar">

        <div data-css="style" class="navbar__logo">
            <a href="">SECS</a>
        </div>

        <ul class="navbar__menu">
            <li><a href="#">Introduce</a></li>
            <li><a href="#">IoT Space</a></li>
            <li><a href="#">AIoT Space</a></li>
        </ul>

        <ul class="navbar__sign">
            <li><a id="navbar__sign-in" href="../accounts/templates/login.html">Sign in</a></li>
            <li><a id="navbar__sign-up" href="../accounts/templates/signUp.html">Sign up</a></li>
        </ul>

        <a href="#" class="navbar__toggleBtn"></a>
    </nav>


    <div>
        <div id="statistic_ment">
            <p>IoT Space</p>
            <p>Power consumption</p>
        </div>
        <div id="statistic_graph">
            <div>Daily graph</div>
            <div id="statistic_vertical"></div>
            <div>
                Monthly graph
                <div class="vertical_chart_box">
                    <div class="chart_box">
                        <ul class="axis_y">
                            <li>0</li>
                            <li>250</li>
                            <li>500</li>
                            <li>750</li>
                            <li>1000</li>
                        </ul>
                        <ul class="axis_x">
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">1</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:80%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">2</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:50%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">3</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:100%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">4</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:100%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">5</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:40%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">6</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:20%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">7</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:30%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">8</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data1" style="height:80%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">9</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:50%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">10</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:100%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">11</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:100%;"></span>
                                </button>
                            </li>
                            <li class="item">
                                <div class="text_box">
                                    <strong class="day">12</strong>
                                </div>
                                <button type="button" class="graph">
                                    <span class="time data" style="height:40%;"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>