<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stick_graph_style.css">
    <title>Stick-Graph</title>
</head>
<body>
<div class="vertical_chart_box">
    <div class="chart_box">
        <ul class="axis_y">
            <li>0</li>
            <li>250</li>
            <li>500</li>
            <li>750</li>
            <li>1000</li>
        </ul>
        <ul class="axis_x">
            <li class="item">
                <div class="text_box">
                    <strong class="day">1</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:80%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">2</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:50%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">3</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:100%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">4</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:100%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">5</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:40%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">6</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:20%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">7</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:30%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">8</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data1" style="height:80%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">9</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:50%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">10</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:100%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">11</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:100%;"></span>
                </button>
            </li>
            <li class="item">
                <div class="text_box">
                    <strong class="day">12</strong>
                </div>
                <button type="button" class="graph">
                    <span class="time data" style="height:40%;"></span>
                </button>
            </li>
        </ul>
    </div>
</div>
</body>
</html>