<html lang="ko">
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Sales'],
        ['1',  1000],
        ['2',  250],
        ['3',  660],
        ['4',  460],
        ['5',  1000],
        ['6',  250],
        ['7',  660],
        ['8',  460],
        ['9',  1000],
        ['10',  250],
        ['11',  660],
        ['4',  460],
        ['1',  1000],
        ['2',  250],
        ['3',  660],
        ['4',  460],
        ['1',  1000],
        ['2',  250],
        ['3',  660],
        ['4',  460],
        ['1',  1000],
        ['2',  250],
        ['3',  660],
        ['4',  460],
      ]);

      var options = {
        title: 'Company Performance',
        curveType: 'none',
        legend: { position: 'bottom' },
        vAxis: {
          title: 'Value',
          ticks: [0, 250, 500, 750, 1000] // 숫자 배열로 눈금 설정
        },
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>